{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": [
    "config:base"
  ],
  "baseBranches": ["master", "gem-release-2.14", "gem-release-2.13"],
  "postUpdateOptions": [
    "gomodTidy",
    "gomodUpdateImportPaths"
  ],
  "packageRules": [
    {
      "matchBaseBranches": ["gem-release-2.14", "gem-release-2.13"],
      "packagePatterns": ["*"],
      "enabled": false
    },
    {
      "matchPackageNames": [{{range .Replaced }}
        "{{.}}",{{end}}
      ],
      "enabled": false
    },
    // Pin Go at the current version, since we want to upgrade it manually.
    // Remember to keep this in sync when upgrading our Go version!
    {
      "matchDatasources": ["docker", "golang-version"],
      "matchPackageNames": ["go", "golang"],
      "allowedVersions": "<=1.23.2"
    },
  ],
  "branchPrefix": "deps-update/",
  "vulnerabilityAlerts": {
    "enabled": true,
    "labels": ["security-update"]
  },
  "osvVulnerabilityAlerts": true
}
